<h1 class = "text-center">EXPENSE MANAGER</h1>
<h3 class = "text-center">The Second Question of DevFest Hackathon Prelim in CET</h3>
<div class = "well">
<p>This is a web frontend question. You need to built a HTML/JS solution for this.
Create an expense management console for personal usage. It should allow people to set targets 
for various categories of expenses like "Food", "Travel" etc. Users can then add expenses 
(mentioning the amount spent and the expense category). Show how much 
below/above the expense targets are for each category.
</p>
</div>