<!--The content below is only a placeholder and can be replaced.-->
<section class = "container">
    <h1>ToDo List App</h1>
    <table class="table">
    <tr>
      <td>Task</td><td>Option</td>
    </tr>
    <tr>
      <td><input class = "form-control" placeholder="Enter a task" [(ngModel)]="work"></td>
      <td><button class= "btn btn-info" type = "submit" (click)="postTask(work)">Submit</button></td>
    </tr>
    <tr *ngFor = "let task of tasks">
      <td>{{task.work}}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteTask(task._id)">Done</button>
      </td>
    </tr>
    </table>
  
  
</section>



